<div *ngIf="loading">Chargement des posts...</div>

<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="!loading && !error">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Posts</h1>

    <div style="display: flex; align-items: center;">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <input 
            matInput 
            type="search" 
            placeholder="Search posts" 
            [(ngModel)]="searchQuery" 
            (input)="filterPosts()" 
          >
          <button matSuffix mat-icon-button aria-label="Search" (click)="filterPosts()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
    </div>
  </div>

  <div class="col-12">
    <app-blog-card [posts]="displayedPosts"></app-blog-card>
  </div>

  <mat-paginator 
    [length]="filteredPosts.length"
    [pageSize]="6"
    [pageSizeOptions]="[6, 12, 24]" 
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
</div>
